{% extends 'base.html' %}
{% block title %} Juegos Paramericanos Santiago 2023 {% endblock %}
{% block content %}
<div class="box">
    <div class="in_row">
        <div id="supporters_graph_container">
            <figure>
                <div id="supporters_graph"></div>
                <p> Gráfico que muestra la cantidad de hinchas registrados por deporte.</p>
            </figure>
        </div>
    
        <div id="graph_container_2">
            <figure>
                <div id="artisans_graph"></div>
                <p> Gráfico que muestra la cantidad de artesanos registrados por tipo de artesanía.</p>
            </figure>    
        </div>
    </div>
    <div class="box button" id="back_to_index_btn">
        Volver
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.getElementById("back_to_index_btn").addEventListener("click", () => {window.location.href = "{{ url_for('index') }}"})
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename = 'js/graficos.js')}}"></script>
{% endblock %}