{% extends 'base.html' %}
{% block title %} Juegos Paramericanos Santiago 2023 {% endblock %}
{% block content %}
    <div>
        <div class="title">
            <h1>¡Te damos la bienvenida a los Juegos Panamericanos Chile 2023!</h1>
        </div>
        {% if message %}
        <div class="box green">
            <h2>{{message}}</h2>
        </div>
        {% endif %}
        <div class="in_row">
            <div class="box">
                <h2>Para Hinchas</h2>
                <div class="box button" id="register_supporter_btn">
                    Registrar hincha
                </div>
                <div class="box button" id="supporters_list_btn">
                    Ver listado de hinchas
                </div>
            </div>
            <div class="box">
                <h2>Para Artesanos</h2>
                <div class="box button" id="register_artisan_btn">
                    Registrar artesano
                </div>
                <div class="box button" id="artisans_list_btn">
                    Ver listado de artesanos
                </div>
            </div>
        </div>
        <div>
            <div class="box">
                <h2>Estadísticas de registro</h2>
                <div class="box button">
                    Gráficos
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        document.getElementById("register_supporter_btn").addEventListener("click", () => {window.location.href = "{{ url_for('agregar_hincha') }}"})
        document.getElementById("supporters_list_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_hinchas', page=1) }}"})
        document.getElementById("register_artisan_btn").addEventListener("click", () => {window.location.href = "{{ url_for('agregar_artesano') }}"})
        document.getElementById("artisans_list_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_artesanos', page=1) }}"})
    </script>
{% endblock %}