{% extends 'base.html' %}
{% block title %} Juegos Paramericanos Santiago 2023 {% endblock %}
{% block content %}
    <div>
        <div class="title">
            <h1>¡Te damos la bienvenida a los Juegos Panamericanos Chile 2023!</h1>
        </div>
        {% if message %}
        <div class="box green">
            <h2>{{message}}</h2>
        </div>
        {% endif %}
        <div class="in_row">
            <div class="box">
                <h2>Para Hinchas</h2>
                <p>
                    <a href="{{ url_for('agregar_hincha') }}">Registrar Hincha</a>
                    <br>
                    <a href="{{ url_for('ver_hincha') }}">Ver listado de hinchas</a>            
                </p>
            </div>
            <div class="box">
                <h2>Para Artesanos</h2>
                <p>
                    <a href="{{ url_for('agregar_artesano') }}">Registrar Artesano</a>
                    <br>
                    <a href="{{ url_for('ver_artesanos')}}">Ver listado de artesanos</a>            
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}{% endblock %}