{% extends 'base.html' %}
{% block title %} Ficha de Artesano/a {% endblock %}
{% block content %}
    <div id="info_div">
        <div class="title">
            <h1>Ficha de Hincha</h1>
        </div>
        <div>
            <div>
                <div>
                    <div>Nombre</div>
                    <div>Juan Tacchi</div>
                </div>
                <div>
                    <div>Correo electrónico</div>
                    <div>juan.tacchi@gmail.com</div>
                </div>
                <div>
                    <div>Número de celular</div>
                    <div>+56 9 1234 5678</div>
                </div>
                <div>
                    <div>Región</div>
                    <div>Región Metropolitana</div>
                </div>
                <div>
                    <div>Comuna</div>
                    <div>La Florida</div>
                </div>
                <div>
                    <div>Tipo de artesanía</div>
                    <div>Madera</div>
                </div>
                <div>
                    <div>Descripción de artesanía</div>
                    <div>Minero tallado en madera</div>
                </div>
            </div>
            <div>
                <img id="normal_image" src="../images/minero_madera_5x4.jpg" alt="Minero tallado en madera" height="480" width="640">
            </div>
            <div>
                <button type="button" id="back_to_list_btn">Volver al listado</button>
            </div>
        </div>
    </div>
    <div id="image_div" hidden>
        <img src="../images/minero_madera_5x4.jpg" alt="Minero tallado en madera" height="1024" width="1280" id="big_image">
    </div>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/informacion-artesano.js') }}"></script>
{% endblock %}
