{% extends 'base.html' %}
{% block title %} Ficha de Artesano/a {% endblock %}
{% block content %}
    <div id="info_div" class="box">
        <div class="title">
            <h1>Ficha de Hincha</h1>
        </div>
        <div class="in_row">
            <div>
                <div>
                    <h3>Nombre</h3>
                    <div> {{context.name}} </div>
                </div>
                <div>
                    <h3>Correo electrónico</h3>
                    <div> {{context.email}} </div>
                </div>
                <div>
                    <h3>Número de celular</h3>
                    <div> {{context.phone}} </div>
                </div>
                <div>
                    <h3>Región</h3>
                    <div>{{context.region}}</div>
                </div>
                <div>
                    <h3>Comuna</h3>
                    <div>{{context.comunne}}</div>
                </div>
                <div>
                    <h3>Tipo de artesanía</h3>
                    <div>
                        {% for type in context.handicraft_types %}
                            {{type}} <br>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <h3>Descripción de artesanía</h3>
                    <div>{{context.handicraft_desc}}</div>
                </div>
            </div>
            <div>
                <h3>Imágenes</h3>
                <div>
                    {% for image_path in context.images_paths %}
                        <img class="normal_img" src="{{image_path}}" alt="Artesanía de {{context.name}}" id="image_{{loop.index}}" onclick="change_image_size('image_{{loop.index}}')">
                    {% endfor %}
                </div>
            </div>  
        </div>
        <div>
            <button type="button" id="back_to_list_btn">Volver al listado</button>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        document.getElementById("back_to_list_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_artesanos') }}"})
    </script>
    <script src="{{ url_for('static', filename='js/informacion.js') }}"></script>
{% endblock %}
