{% extends 'base.html' %}
{% block title %} Listado de artesanas y artesanos {% endblock %}
{% block content %}
    <div class="title">
        <h1>Listado de artesanas y artesanos registrados</h1>
    </div>
    <div id="artisans_table" class="box">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Comuna</th>
                    <th>Tipo de artesanía</th>
                    <th>Fotos</th>
                </tr>
            </thead>
            <tbody>
                {% for artisan in context.artisans %}
                    <tr onclick="window.location.href = '{{artisan.info_path}}'">
                        <td> {{artisan.name}} </td>
                        <td> {{artisan.phone}} </td>
                        <td> {{artisan.comunne}} </td>
                        <td>
                            {% for handicraft_type in artisan.handicraft_types %}
                                {{handicraft_type.capitalize()}} <br>
                            {% endfor %}
                        </td>
                        <td>
                            <img src="{{artisan.image_path}}" alt="Artesanía de {{artisan.name}}" class="table_img">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="in_row">
            {% if context.page_num > 1 %}
                <button type="button" id="prev_page_btn">Anterior</button>
            {% endif %}
            {% if context.page_num != context.total_pages_num %}
                <button type="button" id="next_page_btn">Siguiente</button>
            {% endif %}
        </div>
        <div>
            <button type="button" id="back_to_index_btn">Volver al Inicio</button>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        document.getElementById("back_to_index_btn").addEventListener("click", () => {window.location.href = "{{ url_for('index') }}"});
        if ({{context.page_num}} > 1) {
            document.getElementById("prev_page_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_artesanos', page= (context.page_num - 1)) }}"});
        }
        if ({{context.page_num}} != {{context.total_pages_num}}) {
            document.getElementById("next_page_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_artesanos', page= (context.page_num + 1)) }}"});
        }
    </script>
{% endblock %}
