{% extends 'base.html' %}
{% block title %} Listado de hinchas {% endblock %}
{% block content %}
    <div class="title">
        <h1>Listado de hinchas registradas y registrados</h1>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Comuna</th>
                    <th>Deportes</th>
                    <th>Modo de transporte</th>
                    <th>Número celular</th>
                </tr>
            </thead>
            <tbody>
                {% for supporter in context.supporters %}
                    <tr onclick="window.location.href = '{{supporter.info_path}}'">
                        <td>{{supporter.name}}</td>
                        <td>{{supporter.comunne}}</td>
                        <td>
                            {% for sport in supporter.sports %}
                                {{sport}} <br>
                            {% endfor %}
                        </td>
                        <td>{{supporter.transport}}</td>
                        <td>{{supporter.phone}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="in_row">
            {% if context.page_num > 1 %}
                <button type="button" id="prev_page_btn">Anterior</button>
            {% endif %}
            {% if context.page_num != context.total_pages_num %}
                <button type="button" id="next_page_btn">Siguiente</button>
            {% endif %}
        </div>
        <div>
            <button type="button" id="back_to_index_btn">Volver al Inicio</button>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script>
    document.getElementById("back_to_index_btn").addEventListener("click", () => {window.location.href = "{{ url_for('index') }}"});
    if ({{context.page_num}} > 1) {
        document.getElementById("prev_page_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_hinchas', page= (context.page_num - 1)) }}"});
    }
    if ({{context.page_num}} != {{context.total_pages_num}}) {
        document.getElementById("next_page_btn").addEventListener("click", () => {window.location.href = "{{ url_for('ver_hinchas', page= (context.page_num + 1)) }}"});
    }
</script>
{% endblock %}